@import '~src/styles/variables.scss';

.container {
  padding-top: 30px;
  padding-bottom: 100px;
  background-color: white;
  min-height: 80vh;
  .content {
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 1200px;
    .left {
      width: 270px;
      .avatar {
        width: 270px;
        height: 270px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-color: $color-btnbg;
      }
      .item {
        line-height: 30px;
        height: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        i {
          position: relative;
          display: inline-block;
          top: 3px;
          width: 30px;
          font-size: 20px;
          color: $color-font;
        }
        a {
          color: $color-font;
          &:hover {
            color: $color-link;
            text-decoration: underline;
          }
        }
      }
      .nickname {
        margin-top: 30px;
        font-size: 24px;
        font-weight: bold;
      }
      .position {
        margin-top: 5px;
        font-size: 14px;
        color: $color-disabled;
      }
      .desc {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 24px;
      }
    }
    .right {
      flex: 1;
      padding-left: 30px;
      .nav {
        display: flex;
        &_item {
          margin: 0 30px;
          font-size: 16px;
          &_active {
            font-weight: bold;
          }
        }
      }
    }
  }
}
