@import '~src/styles/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  width: 100%;
  max-width: 1200px;
  .left {
    padding: 50px 80px;
    width: 900px;
    background-color: white;
    box-shadow: $box-shadow;
    .title {
      position: relative;
      margin-bottom: 50px;
      // padding-left: 15px;
      font-size: 28px;
      font-weight: 500;
      line-height: 40px;
      text-align: left;
      &::before {
        content: '';
        position: absolute;
        left: -20px;
        top: 5px;
        height: 30px;
        // height: 100%;
        width: 5px;
        background-color: black;
      }
    }
  }
  .right {
    width: 270px;
    .author {
      padding: 15px;
      margin-bottom: 15px;
      box-shadow: $box-shadow;
      background-color: white;
      &_title {
        padding-bottom: 15px;
        border-bottom: 1px solid $color-border;
      }
      &_avatar {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &_content {
        padding-top: 15px;
        display: flex;
      }
      &_info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;
        .nickname {
          margin-bottom: 10px;
          font-size: 16px;
          font-weight: 500;
        }
        .about {
          font-size: 14px;
          color: $color-disabled;
        }
      }
    }
    .block {
      display: block;
      margin-bottom: 15px;
      width: 100%;
      height: 220px;
      box-shadow: $box-shadow;
      background-color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
