@import '~src/styles/variables.scss';

.container {
  padding-top: 30px;
  padding-bottom: 200px;
  // background-color: white;
  min-height: 80vh;
  .content {
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 1200px;
    .left {
      position: relative;
      z-index: 2;
      width: 270px;
    }
    .right {
      flex: 1;
      padding-left: 60px;
      .nav {
        position: relative;
        display: flex;
        justify-content: center;
        height: 60px;
        line-height: 60px;
        // border-bottom: 1px solid $color-border;
        // &::after {
        //   position: absolute;
        //   left: -100vw;
        //   bottom: 0;
        //   z-index: 1;
        //   content: '';
        //   width: 200vw;
        //   border-bottom: 1px solid $color-border;
        // }
        &_item, &_item_active {
          margin: 0 30px;
          font-size: 16px;
          cursor: pointer;
          &_active {
            font-weight: bold;
          }
        }
      }
    }
  }
}
