@import '~src/styles/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  width: 100%;
  max-width: 1200px;
  .actions {
    // position: fixed;
    // bottom: 0;
    // z-index: 100;
    // width: 900px;
    // margin-left: -80px;
    // background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    border-top: 1px solid $color-border;
    text-align: center;
    &_item, &_item_active {
      position: relative;
      display: inline-block;
      margin: 0px 50px;
      cursor: pointer;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      background-color: $color-btnbg-hover;
      &_active {
        background-color: $color-btnbg-dark;
      }
      i {
        color: $color-disabled;
        font-size: 20px;
      }
      .number {
        position: absolute;
        left: 30px;
        top: -5px;
        transform: scale(0.8);
        padding: 0 8px;
        height: 20px;
        line-height: 20px;
        border-radius: 20px;
        font-size: 12px;
        background-color: $color-disabled;
        color: white;

      }
    }
  }
  .left {
    // width: 900px;
    // overflow: hidden;
    flex: 1;
    padding-right: 30px;
    &_content {
      padding: 50px 80px;
      margin-bottom: 30px;
      background-color: white;
      box-shadow: $box-shadow;
      .title {
        position: relative;
        margin: 30px 0;
        // padding-left: 15px;
        font-size: 28px;
        font-weight: bold;
        line-height: 40px;
        text-align: left;
        // &::before {
        //   content: '';
        //   position: absolute;
        //   left: -20px;
        //   top: 5px;
        //   height: 30px;
        //   // height: 100%;
        //   width: 5px;
        //   background-color: black;
        // }
      }
    }
  }
  .right {
    overflow: hidden;
    width: 270px;
    .author {
      padding: 15px;
      margin-bottom: 15px;
      box-shadow: $box-shadow;
      background-color: white;
      &_title {
        padding-bottom: 15px;
        border-bottom: 1px solid $color-border;
      }
      &_content {
        padding: 15px 0;
      }
    }
  }
}
