@import "./reset.scss";
@import "~src/styles/variables.scss";

* {
  box-sizing: border-box;
  // color: #333;
  font-weight: 400;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}
p,
button,
i {
  color: #333;
}

body {
  background-color: #f6f8f9 !important;
  width: 100vw;
  min-height: 100vh;
  color: #333 !important;
}

.ant-table-pagination.ant-pagination {
  margin-right: 15px;
}
._admin_body_section_title {
  font-size: 30px;
  margin-bottom: 30px;
}
._admin_body_section_block {
  margin-bottom: 30px;
  width: 100%;
  min-height: 50px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: RGBA(37, 32, 36, 1.00) !important;
    color: white !important;
  }

  ._admin_body_section_title {
    font-size: 30px;
    margin-bottom: 30px;
    color: white;
  }
  ._admin_body_section_block {
    background-color: $color-block-dark;
  }
}
