$color-border: #eaeaea;

$color-block: rgba(0,0,0,0.1);
$color-block-dark: RGBA(47, 43, 47, 1.00);

$color-btnbg: rgba(0,0,0,0.1);
$color-btnbg-dark: RGBA(78, 75, 78, 1.00);


$color-link: RGBA(53, 90, 207, 1.00);
$color-link-light: #1A84F8;
$color-font: #333;
$color-disabled: #999;
$color-error: #F5222D;

$transition: 0.2s ease-in;

