@import '~src/styles/variables.scss';

.container {
  padding-top: 30px;
  padding-bottom: 60px;
  .body {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    .divider {
      margin: 10px 0;
      border-bottom: 1px solid $color-border;
      width: 100%;
    }
    .sidebar {
      position: relative;
      width: 150px;
      &_block {
        padding: 15px 20px;
        background-color: white;
        .topicItem,
        .topicItem_active {
          padding: 5px;
          margin-bottom: 3px;
          font-size: 14px;
          line-height: 25px;
          text-align: center;
          color: $color-disabled;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          border-radius: 4px;
          transition: $transition;
          cursor: pointer;
          &:hover {
            background-color: $color-btnbg-hover;
          }
          &_active {
            background-color: $color-link !important;
            color: white;
          }
        }
      }
    }
    .userinfo {
      position: relative;
      width: 270px;
    }
    .content {
      flex: 1;
      margin: 0 15px;
    }
  }
}
