@import "~src/styles/variables.scss";

.list {
  padding-top: 30px;
  margin: 0 auto;
  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  // align-items: center;
  flex-wrap: wrap;
  .articleItem {
    display: inline-block;
    margin-bottom: 30px;
    overflow: hidden;
    width: 280px;
  }
}